@import './node_modules/reset-css/reset.css';

.first-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: beige;

    &__heading {
        color: #2c3e50;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        margin-top: 40px;
        letter-spacing: 2px;
    }
}

.shadow-dance-text {
    font-size: 4rem;
    color: #22223b;
    text-shadow: 5px 5px 0 #ff005e, 10px 10px 0 #00d4ff;
    animation: shadow-dance 2s infinite;
}

@keyframes shadow-dance {

    0%,
    100% {
        text-shadow: 5px 5px 0 #ff005e, 10px 10px 0 #00d4ff;
    }

    50% {
        text-shadow: -5px -5px 0 #00d4ff, -10px -10px 0 #ff005e;
    }
}